.fa-user-edit, .fa-edit {
    color: #5a909e;
}

.fa-user-times, .fa-times, .fa-trash-alt {
    color: #ca0320;
}

.fa-user-check, .fa-check, .fa-arrow-left, .fa-file-alt {
    color: #00cd5a;
}

.fa-user-check, .fa-user-times, .fa-user-edit, .fa-edit, .fa-check, .fa-times, .fa-arrow-left, .fa-file-alt,
.fa-trash-alt {
    font-size: 18px;
    cursor: pointer;
    margin: 5px;
}

form input.form-control {
    font-family: "Open Sans", sans-serif;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 24px;
}

form textarea.form-control {
    min-height: 164px;
}

/** auth links */
.auth-links, .auth-links:hover, .auth-links:focus {
    color: #092be8;
    text-decoration: none;
    font-weight: normal;
}

/** auth-box */
.auth-box {
    margin: 15px;
    padding: 15px;
}

/** auth text **/
.auth-text {
    margin-top: 5px;
    font-weight: lighter;
}

/** inverse text */
.inverse-text {
    font-size: 18px;
    color: rgba(168,164,164,0.33);
}

/** page-title */
.page-title {
    font-size: 26px;
    font-weight: bold;
    margin: 30px 0 5px 0;
}

/** check-row */
.check-row {
    margin: 10px 0;
}

/**
    experience area
 */

.experience-title {
    margin: 20px 0 10px 0;
}

/** dotted line */
.boundary-line {
    border-top: dotted 3px;
}

#date-values {
    font-style: italic;
    font-size: 14px;
}

.company {
    font-size: 14px;
    font-style: italic;
}

.record-job {
    font-size: 18px;
    font-weight: bold;
}

.record-icons {
    float: right;
    overflow: auto;
}

.record-icons .fas {
    margin: 5px;
    font-size: small;
    color: rgba(40, 40, 40, 0.33);
    cursor: pointer;
}

.record-icons .record-delete, .record-icons .record-edit, .record-icons .record-delete:hover,
.record-icons .record-edit:hover {
    color: rgba(40,40,40,0.33);
    text-decoration: none;
}

/**
documents
 */

#my-documents {
    margin-top: 20px;
}

.documents-title {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0;
}
